unitary-manifold==9.33.0
typing_extensions==4.15.0
cffi==2.0.0
voluptuous==0.16.0
rich==15.0.0
opt_einsum==3.4.0
networkx==3.6.1
zc.lockfile==4.0
jax==0.10.0
annotated-doc==0.0.4
python-dotenv==1.2.2
dvc==3.67.1
z3-solver==4.16.0.0
antlr4-python3-runtime==4.9.3
asyncssh==2.23.0
dictdiffer==0.9.0
frozenlist==1.8.0
sympy==1.14.0
configobj==5.0.9
shellingham==1.5.4
pycparser==3.0
billiard==4.2.4
wcwidth==0.7.0
mpmath==1.3.0
dvc-data==3.18.3
vine==5.1.0
click-plugins==1.1.1.2
diskcache==5.6.3
fsspec==2026.4.0
celery==5.6.3
orjson==3.11.9
aiosignal==1.4.0
flatten-dict==0.5.0
atpublic==7.0.0
tzdata==2026.2
tqdm==4.67.3
yarl==1.23.0
prompt_toolkit==3.0.52
pydot==4.0.1
dulwich==1.2.1
kombu==5.6.2
smmap==5.0.3
propcache==0.5.2
aiohttp-retry==2.9.1
omegaconf==2.3.0
dpath==2.2.0
GitPython==3.1.50
click-repl==0.3.0
typing-inspection==0.4.2
appdirs==1.4.4
pygtrie==2.5.0
numpy==2.4.4
flufl.lock==9.1.0
protobuf==7.34.1
pydantic-settings==2.14.1
ml_dtypes==0.5.4
semver==3.0.4
amqp==5.3.1
hydra-core==1.3.2
entrypoints==0.4
pygit2==1.19.2
dvc-http==2.32.0
gitdb==4.0.12
dvc-studio-client==0.22.0
iterative-telemetry==0.0.10
wandb==0.26.1
tzlocal==5.3.1
aiohttp==3.13.5
dvc-render==1.0.2
tabulate==0.10.0
click-didyoumean==0.3.1
scmrepo==3.6.2
pydantic==2.13.4
multidict==6.7.1
sentry-sdk==2.59.0
typer==0.25.1
sqltrie==0.11.2
pydantic_core==2.46.4
dvc-objects==5.2.0
click==8.3.3
pathspec==1.1.1
tomlkit==0.15.0
filelock==3.29.0
urllib3==2.7.0
gto==1.9.0
scipy==1.17.1
annotated-types==0.7.0
funcy==2.0
shtab==1.8.0
dvc-task==0.40.2
aiohappyeyeballs==2.6.1
grandalf==0.8
ruamel.yaml==0.19.1
shortuuid==1.0.13
jaxlib==0.10.0
psutil==7.2.2
platformdirs==4.9.6
argcomplete==3.6.3
pipx==1.11.1
userpath==1.9.2
systemd-python==235
netifaces==0.11.0
ptyprocess==0.7.0
wheel==0.42.0
colorama==0.4.6
wadllib==1.3.6
Twisted==24.3.0
pyOpenSSL==23.2.0
WALinuxAgent==2.11.1.4
mercurial==6.7.2
MarkupSafe==2.1.5
setuptools==68.1.2
distro==1.9.0
blinker==1.7.0
dbus-python==1.3.2
python-dateutil==2.8.2
pip==24.0
httplib2==0.20.4
rich==13.7.1
click==8.1.6
packaging==24.0
certifi==2023.11.17
Babel==2.10.3
bcrypt==3.2.2
jsonschema==4.10.3
boto3==1.34.46
botocore==1.34.46
lazr.restfulclient==0.14.6
netaddr==0.8.0
oauthlib==3.2.2
pyserial==3.5
configobj==5.0.8
bcc==0.29.1
jsonpatch==1.32
PyHamcrest==2.1.0
lazr.uri==1.0.6
mdurl==0.1.2
pyasn1==0.4.8
pyrsistent==0.20.0
incremental==22.10.0
Pygments==2.17.2
cloud-init==25.3
attrs==23.2.0
PyGObject==3.48.2
zstandard==0.22.0
idna==3.6
urllib3==2.0.7
ssh-import-id==5.11
Jinja2==3.1.2
pyparsing==3.1.1
hyperlink==21.0.0
markdown-it-py==3.0.0
cryptography==41.0.7
cryptography==41.0.7
jmespath==1.0.1
jsonpointer==2.0
six==1.16.0
python-debian==0.1.49+ubuntu2
ufw==0.36.2
s3transfer==0.10.1
command-not-found==0.3
python-magic==0.4.27
launchpadlib==1.11.0
python-apt==2.7.7+ubuntu5.2
pyparted==3.12.0
chardet==5.2.0
PyJWT==2.7.0
sos==4.10.2
zope.interface==6.1
ubuntu-pro-client==8001
constantly==23.10.4
pyasn1-modules==0.2.8
PyYAML==6.0.1
distro-info==1.7+build1
service-identity==24.1.0
typing_extensions==4.10.0
pytz==2024.1
Automat==22.10.0
requests==2.31.0
pexpect==4.9.0
